openapi: 3.2.0
info:
  title: LINDAT Translation Root API
  version: '2.0'
  description: Public REST API for neural machine translation operated by the Institute of Formal and Applied Linguistics (UFAL) at Charles University as part of the LINDAT/CLARIAH-CZ research infrastructure. Converted faithfully from the upstream Swagger 2.0 specification at https://lindat.mff.cuni.cz/services/translation/api/v2/swagger.json
servers:
- url: https://lindat.mff.cuni.cz/services/translation/api/v2
tags:
- name: Root
  description: Root resource for navigation to languages/models
paths:
  /:
    get:
      operationId: get_root_resource
      tags:
      - Root
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RootResource'
      summary: Get root resource
      x-summary-source: derived
components:
  schemas:
    Link:
      type: object
      properties:
        href:
          type: string
        name:
          type: string
        title:
          type: string
        type:
          type: string
        deprecation:
          type: string
        profile:
          type: string
        templated:
          type: boolean
        hreflang:
          type: string
    RootResource:
      type: object
      properties:
        _links:
          $ref: '#/components/schemas/Links'
    Links:
      type: object
      properties:
        self:
          $ref: '#/components/schemas/Link'
        models:
          $ref: '#/components/schemas/Link'
        languages:
          $ref: '#/components/schemas/Link'
